 .form-container {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            width: 500px;
            margin: auto;
        }
        .place, .subtask {
            background-color: white;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input[type="text"], input[type="number"], input[type="password"], textarea {
            width: calc(100% - 22px);
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        button {
            background-color: #7CB9E8;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
        button:hover {
            background-color: #45a049;
        }
        .subtask button {
            background-color: #ff6347;
        }
        .subtask button:hover {
            background-color: #f53b2a;
        }

        .remove-button {
            background-color: #ff6347;
        }

        .remove-button:hover {
            background-color: #f53b2a;
        }

        .common-header {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .home-link {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #7CB9E8;
            color: white;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .home-link:hover {
            background-color: #72A0C1;
        }