<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link href="/css/basicTaskStyle.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: common-header}" class="common-header"></div>
<h1>Change Password</h1>
<div class="form-container">
    <form th:action="@{/user/change-password}" th:object="${passwordChangeDto}" method="post">
        <div class="place">
            <label>Old Password:</label>
            <input type="password" th:field="*{oldPassword}" class="input" required/>
        </div>
        <div class="place">
            <label>New Password:</label>
            <input type="password" th:field="*{newPassword}" class="input" required/>
        </div>
        <div>
            <button type="submit" class="button">Update Password</button>
        </div>
    </form>
</div>
</body>
</html>
