<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Booking</title>
    <link rel="stylesheet" type="text/css" href="/css/basicTaskStyle.css"/>
    <script src="/js/createTaskScript.js"></script>
</head>
<body>
<div th:insert="~{header :: common-header}"></div>
<h2>Create New Booking</h2>
<form th:action="@{/create}" th:object="${booking}" method="post" class="form-container">
    <div>
        <label for="bookingName">Booking Number:</label>
        <input type="text" id="bookingName" th:field="*{name}" required/>
    </div>
    <div>
        <label for="bookingDescription">Description:</label>
        <textarea id="bookingDescription" th:field="*{description}" required></textarea>
    </div>
    <div id="placesContainer">
        <button type="button" id="addplace">Add Place</button>
    </div>
    <button type="submit">Create Booking</button>
</form>
</body>

</html>
