<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <meta th:name="${_csrf.headerName}" th:content="${_csrf.token}"/>
    <link rel="stylesheet" type="text/css" href="/css/taskPageStyle.css">
    <script src="/js/taskPageScript.js"></script>
</head>
<body>
<h2>Bookings</h2>
<a th:href="@{/create}">Add booking</a>
<button type="submit">Mark Booking as Completed</button>
<div th:each="booking : ${bookings}" class="booking-container">
    <div class="booking" th:data-id="${booking.id}" data-entity="Booking" data-status-field="Completed" onclick="togglePlaces(this)">
        <span th:text="${booking.name}"></span>
        <div style="display:none;" class="places grid-container">
            <div th:each="place : ${booking.places}" class="place-column">
                <p th:text="|${place.city}, ${place.country}|"></p>
                <div class="top-half">
                    <div th:class="${place.isArrived} ? 'left-side active' : 'left-side'"
                         th:data-id="${place.id}" data-entity="Place"
                         data-status-field="Arrived"
                         onclick="toggleStatus(this, event)">
                        <p>Arrived</p>
                    </div>
                    <div th:class="${place.isDeparted} ? 'right-side active' : 'right-side'"
                         th:data-id="${place.id}" data-entity="Place"
                         data-status-field="Departed"
                         onclick="toggleStatus(this, event)">
                        <p>Departed</p>
                    </div>
                </div>
                <div class="bottom-half">
                    <ul class="subtask-list">
                        <li th:each="subtask : ${place.subtasks}" class="subtask-item">
                            <div th:class="${subtask.completed} ? 'subtask-details active' : 'subtask-details'"
                                 th:data-id="${subtask.id}"
                                 data-entity="Subtask" data-status-field="Completed"
                                 onclick="toggleStatus(this, event)">
                                <p th:text="${subtask.name}"></p>
                                <p th:text="${subtask.description}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
